.tg .dt1 {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CC66, endColorstr=#C6F1D4);
}
.tg .dt2 {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9933, endColorstr=#FFFFFF gradientType='1');
}

.tb .dt {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#AEB9E2 gradientType='1');
}
.tb .dt2 {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF9933, endColorstr=#AEB9E2 gradientType='1');
}
.tb .dt3 {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AEB9E2, endColorstr=#6799FF gradientType='1');
}
